*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "mapbit1";
    src: url(./HumanoidStraight.ttf);
}


html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newsletter {
    background-color: #dadbd9;
    border: 1px solid black;
    padding: 10px;
    width: 500px;

}

.container { 
    transition: 3s;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container:hover {
    transition: 2s;
    transform: rotate(1080deg);
}

.name {
    font-family: "mapbit1";
    
    display: flex;
    place-content: center;
    border-bottom: 1px solid black;

}

.name p {

    font-size: 5rem;
    padding-bottom: 6px;
    letter-spacing: 2.2px;
    
    
}

.info {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: medium;
    border-bottom: 1px solid black;
    padding: 3px;
}

.title {
    display: flex;
    place-content: center;
    padding: 2px;
}

.title>h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5.0rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: sans-serif;

}

.content {
    display: flex;
}

.content .left-side {
    width: 50%;
    margin: 2px;
    padding: 0.2px;
    border-top: 1px solid black;

}

.content .right-side {
    width: 50%;
    margin: 2px;
    padding: 0 2px;
    border-left: 1px solid black;
}

.left-side>h2 {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    font-size: 3rem;
}

.left-side>div {
    display: flex;
    font-size: 1.13rem;
}

.left-side div>p {
    width: 50%;
    padding: 3px;
    text-align: justify;
    line-height: 1.3rem;
}



.right-side img {
    transform: rotate(-1deg);
    width: 100%;
}

.right-side>p {
    font-size: 1.11rem;
    text-align: justify;
}

.pages:nth-child(2) {
    border: 1px solid black;
    background-color: #dadbd9;
    width: 496px;
    height: 6px;
}


.pages:nth-child(3) {
    border: 1px solid black;
    background-color: #dadbd9;
    width: 492px;
    height: 4px;
}